body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flex-container {
    /* border: 4px solid rgba(0, 0, 0, 0.636); */
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 4px solid rgba(248, 118, 252, 0.865);
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.main-container .flex-container {
    /* border: 4px solid rgb(189, 189, 189); */
    /* flex: 0; */
    text-align: center;
    /* padding: 40px; */
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    background-color: #1F2937;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 100px;
    gap: 50px;
}

.footer {
    text-align: center;
    padding: 10px;
    flex: 1;
    background-color: #1F2937;
}

.footer p {
    color: #F9FAF8;
    text-align: center;
}

.top-header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.bottom-header {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 40px;
}

.links-container {
    display: flex;
    flex: 1;
}

.link {
    flex: 1;
    /* text-wrap: nowrap; */
}

.header-logo {
    flex: 1;
    /* text-wrap: nowrap; */
}

.header-logo p {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    text-align: left;
}

.link p {
    font-size: 18px;
    color: #E5E7EB;
    text-align: right;
}

.hero-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: gray;
}

.hero-container div {
    flex: 1;
}

.image-text {
    flex: 0;
}

.image-text p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-heading h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    text-align: left;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 5px;
    padding: 6px 36px;
}

.container-one {
    display: flex;
    flex-direction: column;
}

.heading-container {
    flex: 1;
}

.heading-container h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.square-container {
    display: flex;
    justify-content: center;
    flex: 2;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 0px;
    gap: 32px;
}

.square {
    padding: 60px;
    border: 3px solid rgb(0, 153, 255);
    border-radius: 10px;
}

.text-container {
    /* border: 2px solid black; */
    padding: 0px;
    display: flex;
    justify-content: center;
    gap: 31px;
}

.text-box {
    /* border: 2px solid black; */
    padding: 0px;
    width: 126px;
}

.text-box p {
    font-size: 15px;
    color: #4e4e4e;
    margin-top: 10px;
}